* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    cursor: none;
}

body {
    overflow-x: hidden;
    border: 1px white solid;
    padding: 10px;
    padding-top: 0px;
    margin: 15px;
    padding: 0px 35px;
}



header {
    width: 100%;
    height: 80px;
    background-color: transparent;

    nav {
        width: 100%;
        height: 95%;
        margin: auto;
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 30px 10px;
    }
    
    .logo {
        width: 50px;
        height: 50px;
        border: 1px solid white;
    }
    
    .nav-links {
        width: 80%;
        height: 50px;
        border: 1px solid white;
    }
    
    ul {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 10px;
        font-weight: 100;
        font-size: 20px;
        margin-left: 40px;
    }
    
    li {
        list-style: none;
    }
    
    a {
        color: white;
        text-decoration: none;
        transition: transform 0.3s ease;
    }
    
    a:hover {
        transform: rotate(360deg); /* Rotate animation */
    }
    
    .contact-btn {
        width: 200px;
        height: 50px;
        border: 1px solid white;
        padding: 14.5px;
        text-align: center;
        text-decoration: none;
    }
    
    header nav .contact-btn a {
        height: 60px;
        width: 50px;
        padding: 10px 10px;
        /* border: 1px solid white; */
        color: white;
        /* margin-left: 30px; */
    }
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 128, 0, 0.4);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
    z-index: 2;
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: rgba(0, 128, 0, 0.4);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform .15s ease, opacity 0.5s ease, background-color 0.5s ease;
    z-index: 2;
}
